*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3px;
    width: 100%;
    height: 5rem;
    background-color: #FFFFFF;
    position: fixed;
}
.box {
    display: none;
}
.title-header {
    display: flex;
    align-items: center;
    margin-left: 6.5vw;
    padding: 1.5rem;
    font-size: 25px;
}
.menu-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    list-style: none;
    margin-right: 21.7vw;
}
@media (max-width: 940px) {
    .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vw;
        list-style: none;
        margin-right: 23.7vw;
    }
}
@media (max-width: 850px) {
    .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vw;
        list-style: none;
        margin-right: 25.7vw;
    }
}@media (max-width: 780px) {
    .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vw;
        list-style: none;
        margin-right: 32.7vw;
    }
}
@media (max-width: 680px) {
    .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vw;
        list-style: none;
        margin-right: 40.7vw;
    }
}
@media (max-width: 500px) {
    .menu-header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 4vw;
        list-style: none;
        margin-right: 42.7vw;
    }
}
@media (max-width: 375px)
{
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 201vw;
        height: 3rem;
        background-color: #FFFFFF;
        position: fixed;
    }
    .menu-header {
        display: none;
    }
    .title-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 72vw;
        padding: 1.5rem;
        font-size: 35px;
    }
    .box {
        display: flex;
        justify-content: flex-end;
        margin-right: 16vw;
        width: 70vw;
        height: 13vw;
        background-color: black;
    }
    span {
        display: flex;
        justify-content: center;
        margin-right: 19vw;
        color: #FFFFFF;
        font-size: 30px;
    }
}
.menu-cotent {
    margin-left: 30px;
    font-size: 15px;
}
.menu-cotent:hover {
    font-weight: bold;
}
.orange-blue-background {
    background-image: url(imagens/laranja-azul-recorte.png);
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width: 1230px) {

    .orange-blue-background {
        background-position: 25%;
        width: 100%;
        height: 580px;
    }
}
@media(max-width: 1080px) {

    .orange-blue-background {
        background-position: 45%;
        width: 100%;
        height: 580px;
    }
}
@media(max-width: 900px) {

    .orange-blue-background {
        background-position: 55%;
        width: 100%;
        height: 580px;
    }
}
@media(max-width: 800px) {

    .orange-blue-background {
        background-position: 65%;
        width: 60rem;
        height: 580px;
    }
}
@media(max-width: 750px) {

    .orange-blue-background {
        background-position: 65%;
        width: 60rem;
        height: 580px;
    }
}
@media(max-width: 725px) {

    .orange-blue-background {
        background-position: 65%;
        width: 60rem;
        height: 580px;
    }
}
@media(max-width: 375px) {

    .orange-blue-background {
        background-position: 83%;
        width: 200vw;
        height: 385vw;
        
    }
}
.subtitle-header-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 37rem;
    margin-left: 7rem;
}
@media(max-width: 375px) {
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 560vw;
        margin-left: 4.6rem;
    }
}
.subtitle-header {
    color: #FFFFFF;
    font-size: 58px;
}
@media(max-width: 375px) {
    .subtitle-header {
        color: #FFFFFF;
        font-size: 80px;
    }
}
.subtitle-paragraph {
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 3vw;
    margin-left: 2px;
}
@media(max-width: 375px) {
    .subtitle-paragraph {
        color: #FFFFFF;
        font-size: 27px;
        text-transform: uppercase;
        margin-top: 3vw;
        margin-left: 2px;
    }
}
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4vw;
    margin-bottom: 4vw;
    max-width: 100%;
    max-height: 100%;
}
@media(max-width: 800px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1.7in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 770px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1.9in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 740px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 2.4in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 700px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 2.8in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 685px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 3in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 645px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 3.4in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 625px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 3.6in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 590px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 3.8in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 555px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 4.1in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 535px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 4.3in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 515px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 4.5in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 500px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 4.7in;
        margin-top: 4vw;
        margin-bottom: 4vw;
    }
}
@media(max-width: 375px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 27vw;
        margin-left: 100%;
    }
}
.imagens-main {
    height: 268px;
    margin: 0.6rem;
}
@media(max-width: 375px) {
    .imagens-main {
    width: 160vw;
    height: 160vw;
    margin-bottom: 19vw;
}
}
.container-footer {
     display: flex;
     align-items: flex-end;
     height: 5rem;
     background-color: #F5F5F5;
     
}
@media(max-width: 800px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 10in;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 725px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 10in;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 700px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 10in;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 655px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 10in;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 575px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 10in;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 375px) {
    .container-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20vw;
        margin-bottom: 20vw;
        width: 160vw;
        height: 6rem;
        background-color: #F5F5F5;
}
}
.box-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5vw;
    margin-left: 6.5vw;
    width: 70%;
}
@media(max-width: 800px) {
    .box-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1.5vw;
        margin-left: 8.7vw;
        width: 70%;
}
}
@media(max-width: 375px) {
    .box-footer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 30.8vw;
        margin-right: 8vw;
        width: 70%;
        order: 0;
}
}
.imagens-mobile {
    display: none;
    margin-left: 1.5rem;
    height: 23px;
}
.imagens-footer {
    margin-left: 1.5rem;
    height: 23px;
}
@media(max-width: 375px) {
    .imagens-mobile {
        display: flex;
        margin-left: 1.1rem;
        margin-right: 5vw;
        height: 43px;
}
}
@media(max-width: 375px) {
    .imagens-footer {
        display: none;
        margin-left: 1.5rem;
        height: 23px;
}
}
.box-mobile {
    display: none;
}
@media(max-width: 375px) {
    .box-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 20vw;
        margin-bottom: 1vw;
        width: 160vw;
        height: 5rem;
        background-color: #7FDBD4;
}
}
.exclusive-right-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.4rem;
}
@media(max-width: 375px) {
.exclusive-right-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 52vw;
    margin-left: -3.9rem;
}
}
.exclusive-title {
    font-size: 14px;
}
@media(max-width: 375px) {
    .exclusive-title {
        font-size: 18px;
}
    }
.exclusive-right-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
}
@media(max-width: 375px) {
    .exclusive-right-paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30vw;
        margin-left: -5.8rem;
}
}
.exclusive-paragraph {
    font-size: 11px;
    width: 30vw;
}
@media(max-width: 375px) {
    .exclusive-paragraph {
        font-size: 15px;
        width: 80vw;
}
}
.box-button {
    display: none;
}
.button-origin {
    display: none;
}
@media(max-width: 375px) {
}
@media(max-width: 375px) {
    .button-origin {
        display: flex;
        justify-content: center;
        background-color: #333333;
        margin-left: 6vw;
        margin-left: 24vw;
        width: 130px;
        height: 50px;
        order: 1;
    }
}
@media(max-width: 375px) {
    .button-origin p {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 12vw;
        font-size: 20px;
        color: #CCCCCC;
    }
}
@media(max-width: 375px) {
    #topo {
        text-decoration: none;
        box-shadow: 3px;
    }
}