*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3px;
    width: 100%;
    height: 5rem;
    background-color: #FFFFFF;
    position: fixed;
}
.box {
    display: none;
}
.title-header {
    display: flex;
    align-items: center;
    margin-left: 7.2vw;
    padding: 1.5rem;
    font-size: 25px;
}
.menu-header {
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 5.9rem;
    padding: 1.5rem;
}
@media (max-width: 375px)
{
    .header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 201vw;
        height: 3rem;
        background-color: #FFFFFF;
        position: fixed;
    }
    .menu-header {
        display: none;
    }
    .title-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 72vw;
        padding: 1.5rem;
        font-size: 35px;
    }
    .box {
        display: flex;
        justify-content: flex-end;
        margin-right: 16vw;
        width: 70vw;
        height: 13vw;
        background-color: black;
    }
}
.menu-cotent {
    margin-left: 30px;
    font-size: 15px;
}
.menu-cotent:hover {
    font-weight: bold;
}
.orange-blue-background {
    background-image: url(imagens/laranja-azul-recorte.png);
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width: 945px) {

    .orange-blue-background {
        background-position: 1%;
        width: 120vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 850px) {

    .orange-blue-background {
        background-position: 25%;
        width: 120vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 800px) {

    .orange-blue-background {
        background-position: 45%;
        width: 120vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 768px) {

    .orange-blue-background {
        background-position: 45%;
        width: 120vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 715px) {

    .orange-blue-background {
        background-position: 45%;
        width: 130vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 675px) {

    .orange-blue-background {
        background-position: 45%;
        width: 140vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 660px) {

    .orange-blue-background {
        background-position: 45%;
        width: 140vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 570px) {

    .orange-blue-background {
        background-position: 45%;
        width: 160vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 500px) {

    .orange-blue-background {
        background-position: 45%;
        width: 160vw;
        
    }
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 43.5rem;
        margin-left: 7.2rem;
        width: 30%;
    }
}
@media(max-width: 375px) {

    .orange-blue-background {
        background-position: 85%;
        width: 200vw;
        height: 360vw;
        
    }
}
.subtitle-header-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 36.5rem;
    margin-left: 7.8rem;
}
@media(max-width: 375px) {
    .subtitle-header-box {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        height: 527vw;
        margin-left: 4.6rem;
    }
}
.subtitle-header {
    color: #FFFFFF;
    font-size: 58px;
}
@media(max-width: 375px) {
    .subtitle-header {
        color: #FFFFFF;
        font-size: 80px;
    }
}
.subtitle-paragraph {
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 3vw;
    margin-left: 2px;
}
@media(max-width: 375px) {
    .subtitle-paragraph {
        color: #FFFFFF;
        font-size: 27px;
        text-transform: uppercase;
        margin-top: 3vw;
        margin-left: 2px;
    }
}
.container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4vw;
    margin-bottom: 4vw;
}
@media(max-width: 945px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 20%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 850px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 20%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 800px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 20%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 768px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 20%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 700px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 0%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 715px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 30%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 675px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 40%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 660px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 40%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 570px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 60%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 500px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 4vw;
        margin-left: 60%;
        margin-bottom: 4vw;
    }
}
@media(max-width: 375px) {
    .container-main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 27vw;
        margin-left: 100%;
        margin-bottom: 10vw;
    }
}
.imagens-main {
    width: 290px;
    margin: 0.4vw;
}
@media(max-width: 375px) {
    .imagens-main {
    width: 160vw;
    height: 160vw;
    margin-bottom: 19vw;
}
}
.container-footer {
     display: flex;
     align-items: flex-end;
     height: 5rem;
     background-color: #F5F5F5;
     
}
@media(max-width: 945px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 120vw;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 850px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 120vw;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 768px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 120vw;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 715px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 130vw;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 675px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 140vw;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 570px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 160vw;
        height: 5rem;
        background-color: #F5F5F5;
}
}
@media(max-width: 375px) {
    .container-footer {
        display: flex;
        align-items: flex-end;
        width: 160vw;
        height: 5rem;
        background-color: #F5F5F5;
}
}
.box-footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5vw;
    margin-left: 8.3vw;
    width: 70%;
}
@media(max-width: 768px){
    .box-footer {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0.5vw;
        margin-left: 2rem;
        width: 70%;
    }
}
.imagens-footer {
    margin-left: 1.5rem;
    height: 26px;
}
.exclusive-right-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 7.4rem;
}
@media(max-width: 945px) {
    .exclusive-right-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 22.3%;
    }
}
@media(max-width: 850px) {
    .exclusive-right-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16%;
    }
}
@media(max-width: 800px) {
    .exclusive-right-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12%;
    }
}
@media(max-width: 768px) {
    .exclusive-right-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 11%;
    }
}
@media(max-width: 715px) {
    .exclusive-right-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 12%;
    }
}
@media(max-width: 675px) {
    .exclusive-right-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 13%;
    }
}
@media(max-width: 570px) {
    .exclusive-right-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 11%;
    }
}
@media(max-width: 500px) {
    .exclusive-right-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7%;
    }
}
.exclusive-title {
    font-size: 14px;
}
.exclusive-right-paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.2rem;
}
@media(max-width: 945px) {
    .exclusive-right-paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1.2rem;
    }
}
@media(max-width: 815px) {
    .exclusive-right-paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 1.2rem;
    }
}
.exclusive-paragraph {
    font-size: 11px;
    width: 30vw;
}